{{ define "content" }}
	<div class="content">
		<h2> 404 - Page not found </h2>
		<p> Welcome, stranger, to my 404 page. </p> 
		<p> I offer you the letter <strong>n</strong> in these trying times. (It <i>might</i> do cool things if you click.) </p>

	</div>



	<style> 

	.anN {
		font-size: xx-large;
		margin: 0;
		padding: 0;
		position: fixed; 
	}
	</style> 
	{{ $asset := resources.Get "js/thefancyn.js"  | fingerprint -}}
	<script src="{{ $asset.Permalink }}" integrity="{{ $asset.Data.Integrity }}">
	</script>
{{ end }}
